<ion-content [fullscreen]="true">
    <ion-grid id="container">
        <h3>{{memoria}}</h3>
        <h1>{{resultado}}</h1>
            <ion-row>
                <ion-col>
                    <ion-button (click)="resetar()" color="medium">AC</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="operadores('²√')" color="medium">²√</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="operadores('%')" color="medium">%</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="operadores('÷')" color="warning">÷</ion-button>
                </ion-col>
            </ion-row>
    
            <ion-row>
                <ion-col>
                    <ion-button (click)="digitos('7')" color="light">7</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="digitos('8')" color="light">8</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="digitos('9')" color="light">9</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="operadores('x')" color="warning">x</ion-button>
                </ion-col>
            </ion-row>
    
            <ion-row>
                <ion-col>
                    <ion-button (click)="digitos('4')" color="light">4</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="digitos('5')" color="light">5</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="digitos('6')" color="light">6</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="operadores('-')" color="warning">-</ion-button>
                </ion-col>
            </ion-row>
    
            <ion-row>
                <ion-col>
                    <ion-button (click)="digitos('1')" color="light">1</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="digitos('2')" color="light">2</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="digitos('3')" color="light">3</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="operadores('+')" color="warning">+</ion-button>
                </ion-col>
            </ion-row>
    
            <ion-row>
                <ion-col>
                    <ion-button (click)="digitos('0')" color="light">0</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="operadores(',')" color="light">,</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button id="equals" (click)="calcular()" color="warning">=</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="resetar()" color="success">C</ion-button>
                </ion-col>
            </ion-row>
        
    </ion-grid>
</ion-content>